$fa-font-path: "../webfonts";

@import "~@fortawesome/fontawesome-pro-webfonts/scss/fontawesome";
@import "~@fortawesome/fontawesome-pro-webfonts/scss/fa-regular";

body.wysiwyg-single {
    padding-top: 60px;

    div.wysiwyg-toolbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

div.wysiwyg-toolbar {
    background-color: #eaeaea;
    font: 13px Arial, sans-serif;

    ul {
        margin: 0;
        padding: 0;
        display: inline-block;

        a {
            padding: 22px;
            display: block;
            color: #000;
        }

        > li {
            display: inline-block;
            position: relative;

            &:hover {
                background: rgba(0, 0, 0, 0.1);

                ul.drop-down {
                    z-index: 5;
                    opacity: 1;
                    display: flex;
                }
            }

            .colorpicker-preview {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;

                > input {
                    height: 100%;
                    width: 100%;
                    //opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0;
                    border: 0;
                    opacity: 0;
                }
            }

            &.has-drop-down {
                padding: 22px 60px 22px 20px;

                .arrow-right {
                    position: absolute;
                    right: 30px;
                    top: 20px;
                }

                &:hover {

                    > ul.drop-down {
                        display: flex;
                        opacity: 1;
                        z-index: 5;
                    }
                }

                ul {

                    &.drop-down {
                        display: none;
                        opacity: 0;
                        transition: all ease-in-out 0.2s;
                        z-index: -1;
                        flex-direction: column;
                        background: #eaeaea;
                        left: 0;
                        top: 100%;
                        position: absolute;
                        min-width: 150%;

                        li {
                            padding: 10px 60px 10px 10px;

                            &:hover {
                                background: rgba(0, 0, 0, 0.1);
                                cursor: pointer;
                            }

                            button {

                            }
                        }
                    }
                }
            }
        }
    }

    li {
        list-style: none;
    }

    div.btn {
        padding: 20px 10px;
    }

}